#upload_image {
    padding: 0 !important;
}
.carousel {
    margin-bottom: 5px;
    width: 208px;
}
.carousel, .carousel div {
    padding: 0 !important;
}
.carousel ul {
    background-color: #efefef;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.carousel li {
    color: #666;
    text-align: center;
    width: 30px;
    height: 48px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.carousel li a {
    display: block;
}
.carousel li a img {
    border: 2px solid #333;
}
.carousel li .delImage {
    font-size: 9px;
}
.clearfix {
    float: none;
    clear: both;
}
#prev {
    margin-left: 10px;
    font-weight: bold;
}
#next {
    float: right;
    margin-right: 10px;
    font-weight: bold;
}
.carousel .disabled
{
    font-weight: normal !important;
    text-decoration: none;
    color: #999;
    cursor: default;
}
