body {
    font-size: 11px;
}
#custom-doc { 
    width: 95%; min-width: 750px;
}
h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
span {
    display: block;
}
table tr td, table tr th {
    border: 1px solid #000;
    padding: 4px 5px;
}